@{
    ViewBag.Title = "Home Page";
}

<link href ="Index.css" rel="stylesheet" />

<div class="jumbotron"; style="background-color:powderblue;">
    <h1>Programming Club</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Technologies</h2>
        <p>
            <ul>
            <li>C#</li>
            <li>SQL</li>
            <li>Linq to SQL</li>
            </ul>
        </p>
    </div>
    
    <div>Here is an account with admin role to log in for testing purposes: dragos.anca@librabank.ro; Parola1!</div>
    <div class="col-md-4">
        <h2>Tools</h2>
        <p><ul>
            <li>Visual Studio</li>
            <li>SQL Management Studio</li>
            <li>GitHub</li></ul></p>
    </div>
    <div class="col-md-4">
        <h2>Ad</h2>
        <p>
            Cardul Radio Guerrilla
            10% reducere la plata cu cardul in
            Avanposturile Radio Guerrilla
            Trei retrageri gratuite de numerar la orice
            bancomat din Romania si din lume
            Doua variante de design: Roz si Camuflaj
            Emitere si livrare gratuita oriunde in Romania
            Comision de administrare 9 lei/luna
        </p>
        <p><a class="btn btn-default" href="https://www.librabank.ro/Persoane_fizice/Cardul_Radio_Guerrilla/441">Learn more &raquo;</a></p>
    </div>
</div>